html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }
#search-field {
	font-size: 23px;
	width: 450px;
	border: none;
	border-bottom: 1px solid #aaa;
	margin: 0;
	height: 39px;
	padding: 0 5px;
}
#ui {
	width: 460px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px #888;
	background: #fff;
	border: 1px solid #aaa;
	height: 40px;
	overflow: hidden;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
}

#ui.expand {
	height: 190px;
}
#details {
	padding: 0 10px;
	height: 150px;
	overflow: auto;
}